@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300&display=swap');

* {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
}

/* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-weight: 700;
  font-size: .875rem;
}

body {
  width: 100%;
  background-color: hsl(0, 0%, 95%);
}

.container {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  margin: 100px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  z-index: 3;
}

.card {
  padding: 48px;
  width: 250px;
}

.card-orange {
  background-color: hsl(31, 77%, 52%);
}

.card-cyan {
  background-color: hsl(184, 100%, 22%)
}

.card-darkcyan {
  background-color: hsl(179, 100%, 13%);
}

.card-icon {
  margin: 0 0 24px;
}

.card-title {
  margin: 24px 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card-description {
  margin-bottom: 60px;
}

.card-button {
  background-color: hsl(0, 0%, 95%);
  padding: 12px 24px;
  border-radius: 24px;
  color: rgb(0, 0, 0, .8);
}

.card-button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  outline: 2px solid hsl(0, 0%, 95%);
}

.attribution {
  text-align: center;
  margin: 16px;
}

@media screen and (max-width: 600px) {
  .card-container {
    flex-direction: column;
    margin: 20px;
  }
}